html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}

div.form-group.required label:before {
    content: '* ';
    color: red;
}
div.form-group.radio label {
    display: block;
}
div.form-group.radio label:before {
    content: '';
}
div.form-group.radio label:nth-of-type(1):before {
    content: '* ';
}
div.form-group.radio label > input {
    margin-right: 1rem;
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

    div.form-group.date input {
        width: 30%;
        min-width: 300px;
    }
}

@media (min-width: 1200px) {

}

div.field-text-not-interactive p {
    margin-bottom: 0; margin-top: 0;
}

.card-wiki img {
    max-width: 100%;
}

.ql-indent-1 {
    margin-left: 1rem;
}

.ql-indent-2 {
    margin-left: 2rem;
}
